.esqcima, .esqbaixo, .dircima, .dirbaixo{
  position: absolute;
  width: 150px;
  height: 150px;
  font-size: large;
}

.esqcima{
  background-color: red;
  top: 0;
  left: 0;
}

.esqbaixo{
  background-color: green;
  bottom: 0;
  left: 0;
}

.dircima{
  background-color: yellow;
  right: 0;
  top: 0;
}

.dirbaixo{
  background-color: blue;
  bottom: 0;
  right: 0;
}
